@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: noto-sans;
  src: url(/fonts/noto-sans.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: noto-sans;
}